* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

header {
  background-color: black;
  text-align: center;
}
.epicode-logo {
  width: 100px;
  margin: 20px;
}
.banner {
  background-image: url("/assets/images/banner.jpg");

  object-fit: cover;
  background-size: 100%;
  padding: 35px;
  background-repeat: no-repeat;
}
.banner h1 {
  color: #28a1c9;
  font-size: xx-large;
  margin: 0px 40px 20px 10px;
  text-align: center;
}
.banner p {
  margin: 5px 60px 10px 20px;
  text-align: center;
}

main {
  text-align: center;
}
.button {
  background-color: #ee4e2c;
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 15px 50px 20px 20px;
}
.notebook-img {
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  margin: 20px 0px 20px 0px;
}
.multi-article h4 {
  color: #28a1c9;
}
.multi-article p {
  margin: 20px 70px 20px 70px;
}
.orange-bck {
  background-color: #ee280b;
  padding: 30px;
  color: white;
  margin: 40px 0px 0px 0px;
}
.orange-bck h2 {
  font-size: xx-large;
}
.orange-bck p {
  margin-top: 30px;
}
.mario-rossi {
  margin-top: 40px;
  margin-bottom: -20px;
}
.ceo {
  margin-top: 5px;
}
.three-imgs h4 {
  color: #28a1c9;
}
.three-imgs p {
  margin: 30px 30px 30px 30px;
}
.pencil-notebook {
  text-align: center;
  padding: 0px;
  margin: 40px 30px 30px 30px;
  max-width: -webkit-fill-available;
}
.close-notebook {
  text-align: center;
  padding: 0px;
  margin: 30px 30px 30px 30px;
  max-width: -webkit-fill-available;
}
.people-notebbok {
  text-align: center;
  padding: 0px;
  margin: 30px 30px 30px 30px;
  max-width: -webkit-fill-available;
}
footer {
  text-align: center;
  background-color: #28a3c9;
  margin-top: 70px;
  padding: 40px;
  color: white;
}
.ul-footer {
  margin: 20px 20px 20px 20px;
  list-style-type: none;
}
.footer li {
  margin: 5px 0px 8px 0px;
}
.footer p {
  margin: 30px 30px 30px 30px;
}
.footer hr {
  margin: 10px 70px 10px 70px;
}
/*
.notebook-img {
  align-items: center;
  width: 200px;
  ehight: 200px;
  border-radius: 50%;
  object-fit: fill;
*/
